.box-5 {
    height: 500px;
    width: 100%;
}
.checked {
    color: crimson !important;
}
.container-2 {
    display: flex;
    justify-content: center;
}
.skl {
    color: rgb(24, 23, 23);
    text-shadow: 1px 1px 2px rgb(95, 92, 92), 0 0 1em rgb(35, 35, 37), 0 0 0.2em rgb(24, 24, 26);    
}
.skl:hover {
    color: rgb(95, 92, 92);
}